<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StravaLeaderboard</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @*Below css is for JQWidgets*@
        <link rel="stylesheet" href="~/css/jqx.base.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">StravaLeaderboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/Leaderboard">Leaderboard</a></li>
                    <li><a asp-page="/Admin">Admin</a></li>
                    <li><a asp-page="/Club">Club</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - StravaLeaderboard</p>
        </footer>
    </div>

    <environment include="Development, Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @*Below scripts are all for JQWidgets*@
        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.arctic.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.black.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.metro.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.light.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.fresh.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.highcontrast.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.dark.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.shinyblack.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.office.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.metrodark.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.darkblue.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.classic.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.web.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-lightness.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-darkness.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-overcast.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-le-frog.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-smoothness.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-sunny.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-start.css" rel="stylesheet" />
        <script src="~/jqwidgets/jqxbuttons.js"></script>
        <script src="~/jqwidgets/jqxscrollbar.js"></script>
        <script src="~/jqwidgets/jqxgrid.js"></script>
        <script src="~/jqwidgets/jqxgrid.edit.js"></script>
        <script src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
        <script src="~/jqwidgets/jqxgrid.filter.js"></script>
        <script src="~/jqwidgets/jqxgrid.selection.js"></script>
        <script src="~/jqwidgets/jqxgrid.sort.js"></script>
        <script src="~/jqwidgets/jqxgrid.pager.js"></script>
        <script src="~/jqwidgets/jqxgrid.aggregates.js"></script>
        <script src="~/jqwidgets/jqxgrid.grouping.js"></script>
        <script src="~/jqwidgets/jqxdata.export.js"></script>
        <script src="~/jqwidgets/jqxgrid.export.js"></script>
        <script src="~/jqwidgets/jqxmenu.js"></script>
        <script src="~/jqwidgets/jqxlistbox.js"></script>
        <script src="~/jqwidgets/jqxdropdownlist.js"></script>
        <script src="~/jqwidgets/jqxcore.js"></script>
        <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>

        <script src="~/jqwidgets/jqx-all.js"></script>

        <script src="~/jqwidgets/globalization/globalize.js"></script>
        <style>
            .container {
                margin: 0px;
                margin-top: 30px;
            }
        </style>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
