@page
@using StravaLeaderboard.models
@model AdminModel


@(Html.DevExtreme().DataGrid<Club>()
            .DataSource(Model.ClubsSelection.ToList())
)

@*<html>
    <body>
        <p>
            Enter your name.
        </p>
        <div asp-validation-summary="All"></div>
        <form method="POST">
            <div>ClubID: <input asp-for="ClubsSelection[0].ClubID" /></div>
            <div>Name: <input asp-for="ClubsSelection[0].Name" /></div>
            <div>Location: <input asp-for="ClubsSelection[0].Location" /></div>
            <div>Country: <input asp-for="ClubsSelection[0].Country" /></div>
            <input type="submit" />
        </form>
    </body>
    </html>*@