@page
@using StravaLeaderboard.models
@model AdminModel


@(Html.DevExtreme().SelectBox()
                .DataSource(Model.ClubsSelection.ToList())
                .DisplayExpr("Name")
                .ValueExpr("ClubID")
                .Value(1)
                .OnValueChanged(@<text>
                    function(data) {
                        var dataGrid = $("#seasonGrid").dxDataGrid("instance");
                        dataGrid.filter(["ClubID", "=", data.value]);
                    }
                </text>)
)

@(Html.DevExtreme().DataGrid<Season>()
                .ID("seasonGrid")
                .DataSource(Model.Seasons.ToList())
                .Selection(s => s.Mode(SelectionMode.Single))
                .OnSelectionChanged("season_changed")
)

@(Html.DevExtreme().DataGrid<DayEvent>()
                        .DataSource(Model.DayEvents.ToList())
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .OnSelectionChanged("dayevent_changed")
)

@(Html.DevExtreme().DataGrid<Segment>()
                        .DataSource(Model.Segments.ToList())
)


<script>
    function club_changed(selectedItems) {
        var data = selectedItems.selectedRowsData[0];
        if (data) {
            $(".employeeNotes").text(data.Name);
        }
    }
</script>
@*<html>
    <body>
        <p>
            Enter your name.
        </p>
        <div asp-validation-summary="All"></div>
        <form method="POST">
            <div>ClubID: <input asp-for="ClubsSelection[0].ClubID" /></div>
            <div>Name: <input asp-for="ClubsSelection[0].Name" /></div>
            <div>Location: <input asp-for="ClubsSelection[0].Location" /></div>
            <div>Country: <input asp-for="ClubsSelection[0].Country" /></div>
            <input type="submit" />
        </form>
    </body>
    </html>*@