@page
@model ClubModel

<html>
<body>
    <p>
        Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="club.ClubID" /></div>
        <div>Name: <input asp-for="club.Name" /></div>
        <div>Name: <input asp-for="club.Location" /></div>
        <div>Name: <input asp-for="club.Country" /></div>
        <input type="submit" />
    </form>
</body>
</html>