@page
@using StravaLeaderboard.models
@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}
<h2>@ViewData["Title"]</h2>

@(Html.DevExtreme().DataGrid<Activity>()
            .DataSource(Model.SegmentLeaderboard.ToList())
)
