@page "{DayEventID?}"
@using StravaLeaderboard.models
@model LeaderboardModel

@{
    ViewData["Title"] = "Segment Leaderboard";
}
<h2>@ViewData["Title"]</h2>

@(Html.DevExtreme().DataGrid<Segment>()
                            .ID("Segment-Master-Grid")
                            .DataSource(Model.Segments)
                            .ShowBorders(true)
                            .ShowRowLines(true)
                            .Sorting(s => s.Mode(GridSortingMode.Single))
                            .Paging(p => p.PageSize(10))
                            .Columns(col =>
                            {
                                col.AddFor(m => m.SegmentID)
                                    .Width(150)
                                    .Caption("ID");
                                col.AddFor(m => m.Name)
                                    .Caption("Name");
                                col.AddFor(m => m.World)
                                    .Width(150)
                                    .Caption("World");
                                col.AddFor(m => m.Type)
                                    .Width(150)
                                    .Caption("Type");
                            })
                            @*.MasterDetail(m => m
                                .Enabled(true)
                                .Template(@<text>
                                <div class="master-detail-caption"><%= data.ID %>  <%= data.Name %></div>
                                @(Html.DevExtreme().DataGrid<JSONActivity>()
                                                    .ID("segment-leaderboard")
                                                    .ShowBorders(true)
                                                    .DataSource(new JS("data.Activity"))
                                                    .Paging(p => p.PageSize(20))
                                                    .Columns(col =>
                                                    {
                                                            col.AddFor(a => a.Id)
                                                                .Width(100)
                                                                .Caption("Id");
                                                            col.AddFor(a => a.Athlete.FirstName)
                                                                .Caption("First Name");
                                                            col.AddFor(a => a.Athlete.LastName)
                                                                .Caption("Last Name");
                                                            col.AddFor(a => a.Athlete.SegmentResults[0].Elapsed_time)
                                                                .Caption("Time (sec)");
                                                            col.AddFor(a => a.Athlete.Sex)
                                                                .Caption("Sex");
                                                //col.AddFor(a => a.Athlete.TotalPoints)
                                                //    .Caption("Points");
                                                col.AddFor(a => a.Athlete.SegmentResults[0].Rank)
                                                                .Caption("Rank");
                                                        })
                                )
                                </text>)
                                                        )*@
)
